@{
    ViewBag.Title = "About";
}
<div style="background-color: #023e8a; padding: 20px; color:aliceblue ">

    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>
       
        <p> we empower our students to become tomorrow's leaders,
        <br />equipped not only with expertise but also with the resilience and vision to shape a brighter future. </p>    </main>
    </div>