@{
    ViewBag.Title = "Home Page";
}

<main style="background-color: #023e8a; padding: 20px; color:aliceblue ">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Our University</h1>
        </section>

    <div class="row" >
        <p>
            Welcome to our University, where boundless opportunities await amidst a backdrop of academic excellence and vibrant community spirit.
            <br />  Nestled in the heart of [Egypt], our institution stands as a beacon of knowledge, innovation, and inclusive learning.
            <br /> Here, students from around the globe converge to explore their passions and cultivate their talents under the guidance of world-renowned faculty.
            <br />  With state-of-the-art facilities and a commitment to nurturing holistic growth, we empower our students to become tomorrow's leaders, equipped not only with expertise but also with the resilience and vision to shape a brighter future.
            <br />  Discover your potential at Our University , where every journey begins with limitless possibilities.
        </p>
    </div>
</main>